<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UIStackViews.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4AB673001E37D18A007BC29D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AB673141E37D18B007BC29D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AB6731F1E37D18B007BC29D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
